label {
    font-family: Aero;
    font-size: 25pt;;
    background-color: aliceblue;
    padding: 5px 10px; 
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-flex;;
    width: 200px;
    text-align: left;
}




.text   {
    background: rgba(13, 20, 44, 0.8);
    border: 0px;
    color: aliceblue;  
}

::placeholder { 
    color: #CECECE;
    opacity: 1;
  }


#button {
    background-color: aliceblue;
    color: rgba(13, 20, 44, 1.0);
    font-size: 30pt;
    font-weight:bold;
    border: 0px;
    margin-top: 40px;
    padding: 10px;
}


#button:hover{
    background-color: rgba(13, 20, 44, 1.0);
    color: aliceblue;
    border:0px;
    margin-bottom: 20px;
    padding: 10px;
}

input{
    font-family: Aero;
    font-size: 25pt;
    margin-bottom: 20px;
    padding: 5px 10px;  
}

#signup-button-div   {
    display: flex; 
    justify-content: center;
}



.form   {
    text-align: center;
}

#repeat-password-div    {
    text-align: center;
}

#inputs {
    margin: 8% 8%;
}

#login-link   {
    font-family: sans-serif;
    color: #C0FF93;
    text-align: center;
    font-size: 13pt;;
    background-color: rgba(13, 20, 44);;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
}


#login-div    {
    display: flex; 
    justify-content: center;
    position: relative;; 
    bottom: 80px;
}

#login-link:hover{
    color: white;
}

body  {
 background: url(../img/dodge_challenger_srt_hellcat_green-HD.jpg) no-repeat center center fixed;;
 background-size: cover;
}